{
  "printWidth": 120,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "endOfLine": "lf",
  "trailingComma": "es5",
  "importOrder": [
    "^react$",
    "^next(?:$|/)",
    "<THIRD_PARTY_MODULES>",
    "^@providers/",
    "^@components/",
    "^@/",
    "^@stores/",
    "^@hooks/",
    "^@utils/",
    "^@styles/",
    "^@public/",
    "^\\.\\.?/"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
